#weather{
  margin-top: 50px;
}

#getWeather{
  width: 100%;
}
#removeWeather{
  display: none;
  width: 100%;
  margin-top: 15px;
}

.solWeather{
  margin-top: 15px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.solImg{
  height: auto;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}